body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

hr {
  border: 0.7px solid rgb(218, 217, 217);
  margin-top: 0px;
}
.navbar {
  height: 60px;
}
#logo {
  height: 50px;
  display: flex;
  align-self: center;
}

.wrapper {
  display: flex;
  margin: auto;
  width: 96vw;
  max-width: 1200px;
  z-index: 1;
}
.title {
  margin: 1em auto;
  line-height: 1.8rem;
  color: grey;
}
.title p {
  padding-right: 2em;
}
.title img {
  width: 40vh;
  height: 25vh;
  align-self: center;
  border-radius: 0.3em;
  margin-right: 0;
  object-fit: cover;
}
.title div {
  width: 73%;
  height: 30vh;
}
h1 {
  margin: 1.2em auto;
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  margin: 1.8em auto 0.2em auto;
  width: 98%;
  font-size: 1.2rem;
  font-weight: 700;
}
.content {
  background-color: #e9ebeb;
  position: relative;
}
.category {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
.card {
  display: flex;
  width: calc(50% - 0.8em);
  min-width: 200px;
  background-color: white;
  margin: 0.8em auto;
  min-height: 17vh;
  height: fit-content;
  min-height: 130px;
  border-radius: 0.3em;
  transition-duration: 200ms;
  overflow: hidden;
}
.card div:first-child {
  width: calc(100% - 17vh);
}
.card img {
  height: 14vh;
  width: 14vh;
  margin: auto;
  border-radius: 0.3em;
  object-fit: cover;
}
.card div p {
  padding: 0.5em;
  font-size: 0.8rem;
}
.card div p:first-child {
  font-size: 1rem;
}
#price {
  display: inline;
  color: grey;
  font-size: 1.2rem;
  line-height: 2em;
}
.card p span {
  box-sizing: border-box;
  margin-left: 0.5em;
  display: inline;
  color: #f1803a;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}
.card span svg {
  object-fit: cover;
}
.card div p:nth-child(2) {
  color: grey;
}
.card:hover {
  box-shadow: 0px 20px 20px 1px rgba(10, 10, 10, 0.123);
  transition-duration: 200ms;
}
.orders * {
  display: inline-flex;
  text-align: center;
}
.order div * {
  text-align: center;
  justify-items: center;
  align-items: center;
}
.basket div:first-child {
  margin: 0 auto;
}
.basket div {
  margin: 0.4em auto;
}
.green {
  color: greenyellow;
}
.basket {
  background-color: white;
  position: sticky;
  top: 60px;
  margin-top: 70px;
  left: 80%;
  min-height: 200px;
  height: fit-content;
  width: 28%;
  z-index: 100;
  transition-duration: 200ms;
  border-radius: 0.3em;
}
.basket:hover {
  box-shadow: 0px 20px 20px 1px rgba(10, 10, 10, 0.123);
  transition-duration: 200ms;
}
.basket button {
  display: flex;
  margin: 0.5em auto;
  background-color: #bac3c3;
  color: white;
  justify-content: center;
  width: 90%;
  height: 50px;
  border-radius: 0.3em;
}
.basket div {
  color: #838585;
  text-align: center;
}
.orders {
  width: 100%;
  margin: 0.5em auto;
  text-align: center;
  font-size: 0.9rem;
  background-color: white;
}
.orders span {
  align-self: flex-end;

  margin-right: 0;
}

.loading {
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: center;
  align-content: center;
}
.loading * {
  align-self: center;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #a5a4a1;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
.green button {
  background-color: #5acdbd;
}
.green svg {
  color: #5acdbd;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 900px) {
  .card {
    width: calc(100% - 0.8em);
    margin: 0.8em auto;
    height: 18vh;
  }
  .category {
    width: 100%;
    max-width: 500px;
    min-width: 350px;
  }
  .basket {
    display: none;
  }
  .wrapper {
    justify-content: center;
    align-content: center;
  }
  .title p {
    font-size: 0.9rem;
  }
  .title {
    margin: 0.5em auto;
    line-height: 1.5rem;
    color: grey;
  }
  .title img {
    width: 20vh;
    height: 20vh;
  }
}
@media screen and (max-width: 500px) {
  .title img {
    display: none;
  }
  .title div {
    width: 100%;
  }
  .category {
    width: 100%;
  }
}
